body {
    display: flex;
    flex-direction: column;
    /* The page is in sections from top to bottom */

    margin: 0;
    padding: 0;
}

/* So I can arrange the header and hero */

.section-one-bg {
    display: flex;
    justify-content: center;
    background-color: #1F2037;
}

.section-one { 
    background-color: #1F2037;
    display: flex;
    flex-direction: column;
}

/* Yes, I love flex, used it to arrange all the header elements */
/* Arranging items, selecting fonts + colors here etc */
.header {
    display: flex;
    justify-content: space-between;

    list-style-type: none;
    padding: 0;
}

.links {
    display: flex;
    gap: 25px;
}

.links li {
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

/* Hero styling */

.hero {
    display: flex;
    align-items: center;

    gap: 40px;
    flex: 1 1 500px;

}

.hero-img {
    width: 700px;
    height: 300px;
}

.text {
    max-width: 600px;
}

.text > h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.text > p {
    color: #E5E7EB;
    font-size: 18px;
}

.text > button {
    background-color: #3882F6;
    color: white;
    
    font-size: 25px;
    font-weight: bold;

    padding: 10px 35px;
    border-radius: 10px;
    border-style: none;
}

.section-three {
    background-color: #E5E7EB;
}